.version.subir_archivos {
    color: #0000FE;
    background-color: #A689ED;
}

#page {
    z-index: 1;
    min-height: 417.99999999999994px;
    background-image: none;
    border-width: 0px;
    border-color: #000000;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 62.00000000000006px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#u266 {
    z-index: 2;
    position: relative;
    width: 38.13%;
    margin-left: 29.38%;
}

#u602 {
    z-index: 4;
    min-height: 352px;
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
    margin-top: 13px;
    position: relative;
    width: 48.23%;
    margin-left: 24.17%;
}

.css_verticalspacer .verticalspacer {
    height: calc(100vh - 591px);
}

#muse_css_mq,
.html {
    background-color: #FFFFFF;
}

body {
    position: relative;
    min-width: 320px;
}

#u266_img {
    width: 100%;
}